@import '../index.less';
.presidentContent {
  width: 6.9rem;
  margin: 0 auto;
  .hasnone {
    background: #fff;
    color: #1a1c1f;
  }

  .meta {
    display: flex;
    justify-content: space-between;
    color: #00ccc3;
    padding: 0 0.24rem;
    font-size: 0.28rem;
    margin: 0.3rem 0 0.1rem 0;
    span:nth-child(1) {
      width: 40%;
    }
    span:nth-child(2) {
      width: 40%;
    }
    span:nth-child(3) {
      width: 20%;
      text-align: center;
    }
  }

  .list > li > .items {
    background: #fff;
    box-shadow: 0 0.3rem 0.7rem 0 rgba(26, 28, 31, 0.06);
    // box-shadow: 0 -7px 29px 0 rgba(26, 28, 31, 0.1);
    color: #1a1c1f;
  }
  .list > li {
    background: #f8fafb;
    box-shadow: 0 0.1rem 0.08rem 0 rgba(26, 28, 31, 0.04);
    // box-shadow: 0 10px 29px 0 rgba(26, 28, 31, 0.1);
    border-radius: 0 8px;
  }
  .list {
    .items {
      font-size: 0.28rem;
      padding: 0 0.24rem;
      margin: 0.2rem 0;
      height: 0.8rem;
      line-height: 0.8rem;
      border-radius: 0.08rem;
      display: flex;
      justify-content: space-between;
      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      span:nth-child(1) {
        width: 40%;
      }
      span:nth-child(2) {
        width: 40%;
      }
      span:nth-child(3) {
        width: 10%;
      }
    }
  }

  .list1 > li {
    // background: #f8fafb;
    border-radius: 5px;
    padding: 0.1rem 0.1rem 0.2rem;
  }
  .list1 {
    .items {
      font-size: 0.26rem;
      margin: 0;
      padding-left: 0.1rem;
      height: 0.8rem;
      line-height: 0.8rem;
      // background: #f8fafb;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      span:nth-child(1) {
        width: 40%;
      }
      span:nth-child(2) {
        width: 40%;
      }
      span:nth-child(3) {
        width: 20%;
        text-align: center;
      }
    }

    .list2 {
      background: #ebf0f2;
      width: 96%;
      margin: 0 auto;
      border-radius: 5px;
      color: #55595e;
      font-size: 12px;
      li {
        padding: 0.1rem;
        border-bottom: 1px solid #efefef;
      }
      li:last-child {
        border-bottom: none;
      }
    }
  }
}

.noData {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 2.54rem;
  margin: auto;
}
