.m_performanceContener {
  background: url('../../../assets/performance_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.12rem;
  width: 6.9rem;
  height: 2.8rem;
  margin: 0 auto;
}
.u_totalNum {
  line-height: 1.4rem;
  display: block;
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
}
.u_basicMoney {
  display: inline-block;
  width: 3.3rem;
}
.u_splitLine {
  display: inline-block;
  opacity: 0.6;
  background: #f8fafb;
  width: 0.02rem;
  height: 0.8rem;
  margin: auto 0.08rem;
}
.u_scoreMoney {
  display: inline-block;
  width: 3.3rem;
}
.u_spanMoney {
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  line-height: 0.46rem;
}
.u_spanBasic {
  font-size: 0.22rem;
  color: #fff;
  text-align: center;
  line-height: 0.46rem;
}

.m_warningP {
  margin: 0.2rem auto 0.32rem;
  width: 6.9rem;
}
.u_pContent {
  font-size: 0.22rem;
  color: #999;
  line-height: 0.35rem;
}

.m_titile {
  margin: 0 auto;
  width: 6.9rem;
}
.u_spanTitle {
  font-size: 0.3rem;
  color: #333;
}

.m_btnContainer {
  display: flex;
  width: 6.9rem;
  margin: 0.1rem auto 0.3rem;
  flex-flow: row wrap;
  justify-content: start;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.m_btnContainer a {
  margin: 0.2rem auto;
  padding-left: 0 !important;
  text-align: center !important;
  line-height: initial;
}
.u_buttonLineStyle {
  position: relative;
  width: 0.2rem;
  color: #52c9c2;
  margin: 0 0.12rem;
  text-align: center;
  line-height: 1.4rem;
}

.m_perTable {
  margin: 0.2rem auto;
  height: 5.94rem;
  width: 6.9rem;
  background: #fff;
  position: relative;
  border-radius: 0.12rem;
}

.u_arrowImg {
  position: absolute;
  width: 0.36rem;
  height: 0.25rem;
  top: -0.22rem;
  z-index: 10;
}

.m_scoreContener {
  width: 6.9rem;
  height: 1.8rem;
  background: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.12rem;
}

.u_numSpan {
  font-size: 0.24rem;
  color: #333;
  line-height: 0.42rem;
}

.u_triangleImg {
  width: 0.1rem;
  height: 0.1rem;
  margin: 0.05rem;
}

.u_xSplitLine {
  height: 1px;
  width: 6.3rem;
  border-bottom: 1px dashed #dadada;
  margin: 0 auto;
}
.u_ySplitLine {
  height: 1rem;
  width: 1px;
  background: #eee;
  display: inline;
  margin: auto 0;
}

.testList {
  padding: 0 !important;
  margin: 0.3rem auto;
}

.testList :global(.am-list-item) {
  padding-left: 0 !important;
}
.testList :global(.am-list-line) {
  padding-right: 0 !important;
}
.testList :global(.am-list-content) {
  padding: 0 !important;
}
