.m_performanceContener {
  background: url('../../../assets/performance_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.12rem;
  width: 6.9rem;
  height: 2.8rem;
  margin: 0 auto;
}
.u_totalNum {
  line-height: 1.4rem;
  display: block;
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
}

.m_performanceMoney {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u_basicMoney {
  display: flex;
  width: 3.3rem;
  justify-content: center;
  align-items: center;
}

.u_scoreMoney {
  display: flex;
  width: 3.3rem;
  justify-content: center;
  align-items: center;
}

.u_contentDiv {
  width: 3.3rem;
  white-space: normal;
}
.u_spanMoney {
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 3.3rem;
}
.u_spanBasic {
  font-size: 0.22rem;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-top: 0.15rem;
  width: 3.3rem;
}

.u_splitLine {
  display: flex;
  opacity: 0.6;
  background: #f8fafb;
  width: 1px;
  height: 0.8rem;
  margin: auto 0.08rem;
}

.m_warningP {
  margin: 0.2rem auto 0.32rem;
  width: 6.9rem;
}
.u_pContent {
  font-size: 0.22rem;
  color: #999;
  line-height: 0.35rem;
}

.m_titile {
  margin: 0 auto;
  width: 6.9rem;
}
.u_spanTitle {
  font-size: 0.3rem;
  color: #333;
}

.m_btnContainer {
  display: flex;
  width: 6.9rem;
  margin: 0.1rem auto 0.2rem;
  flex-flow: row wrap;
  justify-content: start;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.m_btnContainer a {
  margin: 0.2rem auto;
  padding-left: 0 !important;
  text-align: center !important;
  line-height: initial;
}
.u_buttonLineStyle {
  position: relative;
  width: 0.2rem;
  color: #52c9c2;
  margin: 0 0.12rem;
  text-align: center;
  line-height: 1.4rem;
}

// family小组查看详情组件
.m_familyGroup {
  width: 6.9rem;
  height: 0.91rem;
  margin: 0.3rem auto;
  background: #fff;
  border-radius: 0.12rem;
  position: relative;
  .u_imgLogo {
    width: 0.69rem;
    vertical-align: middle;
  }
  .u_pCls {
    font-size: 0.3rem;
    color: #333;
  }
  .u_rightArrow {
    width: 0.13rem;
    height: 0.23rem;
    vertical-align: middle;
  }
  .u_pRight {
    position: absolute;
    display: inline-block;
    line-height: 0.91rem;
    top: 0;
    left: 0.2rem;
  }
  .u_warpCls {
    display: inline-block;
    line-height: 0.91rem;
    margin-left: 1.1rem;
  }
  .u_pLast {
    position: absolute;
    display: inline-block;
    line-height: 0.91rem;
    right: 0.2rem;
    top: 0;
  }
}
