.normal {
  width: 6.5rem;
  margin: 0 auto;
  .bgGrey {
    background: #f8f8f8;
    border-radius: 0.06rem;
  }
  .bgWhite {
    background: #fff;
    border-radius: 0.06rem;
  }
  .bgGrey,
  .bgWhite {
    display: flex;
    align-items: center;
    font-size: 0.22rem;
    height: 0.7rem;
    color: #333;
    text-align: center;

    .dateCls {
      width: 2.1rem;
    }
    .stuCls {
      width: 2.1rem;
    }
    .preValCls {
      width: 2.1rem;
    }

    .otherDateCls {
      width: 1rem;
      margin-left: 0.1rem;
    }
    .otherStuCls {
      width: 2rem;
    }
    .otherPreValCls {
      width: 3rem;
      margin: auto 0.1rem;
      text-align: left;
    }
    .familyCls {
      width: 3.2rem;
    }
  }
}
