.normal {
  width: 6.6rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 0.2rem;
  height: 0.7rem;
  color: #666;
  background: rgba(82, 201, 194, 0.2);
  text-align: center;
  .leftCls {
    width: 1.28rem;
  }
  .dateCls {
    width: 1.4rem;
  }
  .stuCls {
    width: 1.32rem;
  }
  .preValCls,
  .rightCls {
    width: 1.3rem;
  }
}
