.normal {
  width: 6.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 0.22rem;
  color: #52c9c2;
  height: 0.7rem;
  background: #edf9f8;
  border-radius: 0.06rem;
  text-align: center;

  .leftCls {
    width: 2.1rem;
  }
  .dateCls {
    width: 2.1rem;
  }
  .stuCls {
    width: 2.1rem;
  }
  .preValCls,
  .rightCls {
    width: 2.1rem;
  }
}
