.normal {
  width: 6.6rem;
  margin: 0 auto;
  border-top-left-radius: 0.04rem;
  border-top-right-radius: 0.04rem;
  .bgGrey {
    background: #f8f8f8;
  }
  .bgWhite {
    background: #fff;
  }
  .bgGrey,
  .bgWhite {
    display: flex;
    align-items: center;
    font-size: 0.2rem;
    height: 0.7rem;
    color: #666;
    text-align: center;
    .leftCls {
      width: 1.28rem;
    }
    .dateCls {
      width: 1.4rem;
    }
    .stuCls {
      width: 1.32rem;
    }
    .preValCls,
    .rightCls {
      width: 1.3rem;
    }
  }
}
