.listViewCls{

}
:global(html:not([data-scale]) .am-list-body div:not(:last-child) .am-list-line::after){
  height: 0!important;
}

:global(.am-list-body::before) {
  height:0 !important;
}
:global(.am-list-body::after) {
  height:0 !important;
}
:global(.am-list-body::after, html:not([data-scale]) .am-list-body::before){
  background-color: #fff !important;
  height: 0 !important;
}
:global(.am-list-footer),:global(.am-list-header){
  padding: 0!important;
}
