
:global(.am-activity-indicator-content) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 !important;
    background-clip: padding-box;
    color: #fff !important;

    box-shadow: 0 0 .28rem 1px rgba(218,218,218,0.40);
    border-radius: 0.08rem;
    background-color: #fff !important;
    width: 2rem;
    height: 2rem;

  }
  :global(.am-activity-indicator-spinner-lg){
    width: 1.5rem !important;
    height: 1.5rem !important;
  }


  :global(.am-activity-indicator-toast){
    width:2rem ;
    font-size: .20rem;
    color: #999;
    letter-spacing: 0;
    text-align: center;
  }

  :global(.am-activity-indicator.am-activity-indicator-toast .am-activity-indicator-toast) {
    top: 0 !important;
  }

  :global(.am-activity-indicator-spinner){
    -webkit-animation: unset !important;
    animation: unset !important;
    background-image:url("http://bi-m.ministudy.com/staticFile/performance.gif") !important;
  }
