.btnStyle {
  background: #fff !important;
  border-radius: 0.04rem !important;
  width: 2.26rem !important;
  height: 0.64rem !important;
  line-height: 0.64rem !important;
  margin: 0.2rem 0 0 0.12rem;
  display: inline-block !important;
  font-size: 0.222rem !important;
  color: #444348 !important;
}
.btnSelected {
  background: #52c9c2 !important;
  border-radius: 0.04rem !important;
  width: 2.26rem !important;
  height: 0.64rem !important;
  line-height: 0.64rem !important;
  margin: 0.2rem 0 0 0.12rem;
  display: inline-block !important;
  font-size: 0.22rem !important;
  color: #fff !important;
}
.btnStyle::before {
  border: none !important;
  border-radius: 0.04rem !important;
}
.btnSelected::before {
  border: none !important;
  border-radius: 0.04rem !important;
}

.newBtnSelectedClass {
  color: #fff;
}
.newBtnClass {
  color: #444348;
}

.newBtnSelectedClass::before {
  border: none !important;
  border-radius: 0.04rem !important;
}
.newBtnClass::before {
  border: none !important;
  border-radius: 0.04rem !important;
}

.m_formulaContener {
  display: flex;
  height: 1.4rem;
  justify-content: center;
  align-items: center;
}
.m_formulaButton {
  font-size: 0.22rem;
  width: 1rem;
  white-space: normal;
  .u_nameClass {
    color: #52c9c2;
  }
  .u_nameSelectClass {
    color: #fff;
  }
  .u_scoreClass {
    font-size: 0.26rem;
    color: #52c9c2;
    display: inline-block;
    margin-top: 0.1rem;
  }
  .u_scoreSelectClass {
    color: #fff;
    font-size: 0.26rem;
    display: inline-block;
    margin-top: 0.1rem;
  }
}
