.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f8fafb;
  margin-top: -2px;

  tr {
    border-bottom: 1px solid #eee;
  }
  tr:last-child {
    border-bottom: none;
  }
}
