
/* html, body, :global(#root) {
  height: 100%;
  width:100%;
  background-color: #EDF0F3;
  font-family: PingFangSC-Regular;

} */
/* 解决pc端浏览器警告 */
html, body{
  width:100%;
  height: 100%;
  background-color: #EDF0F3;
  font-family: PingFangSC-Regular;
}
:global(#root) {
  width:7.5rem;
  margin:0 auto;
}
*{
  margin:0;
  padding: 0;
}
