.u_pCls {
  display: inline-block;
  margin-left: 0.3rem;
  color: #52c9c2;
  font-size: 0.26rem;
  line-height: 0.3rem;
}
.u_spanCls {
  display: inline-block;
  font-size: 0.22rem;
  color: #999;
  line-height: 0.3rem;
  width: 5.45rem;
  text-align: end;
}

.m_wrapcontener {
  width: 6.9rem;
  height: 6.22rem;
  background: #fff;
  margin: 0 auto;
  border-top-left-radius: 0.12rem;
  border-top-right-radius: 0.12rem;
}
.m_innercontener {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.9rem;
  height: 0.9rem;
  background: #f8fafb;
  margin: 0 auto;
  border-bottom-left-radius: 0.12rem;
  border-bottom-right-radius: 0.12rem;
}
.u_spanWorld {
  font-size: 0.22rem;
  color: #999;
  line-height: 0.32rem;
}

.m_imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.9rem;
  margin: 0 auto;
}
.u_imgCls {
  width: 2rem;
  display: block;
  margin: 0.9rem auto 0;
}

.m_wordContent {
  width: 6.9rem;
  margin: 0 auto;
  font-size: 0.3rem;
  text-align: center;
  color: #333;
  line-height: 0.48rem;
  .u_timeCls {
    color: #333;
    line-height: 0.48rem;
    display: block;
    margin: 1rem auto 0.26rem;
  }
}

.u_resultlCls {
  font-size: 0.36rem;
  color: #52c9c2;
  line-height: 0.5rem;
}
